body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(208, 208, 208);
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    margin-top: 0;
}

div {
    background-color: white;
    padding: 15px;
    margin: 10px;
}

#view {
    overflow: scroll;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

table, tr, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

td {
    padding: 5px;
}